# Homework 5

In [1]:
import numpy as np
import pandas as pd

In [4]:
factors=pd.read_excel('data/factor_pricing_data_monthly.xlsx', sheet_name='factors (excess returns)', parse_dates=[0], index_col=0)
portfolios=pd.read_excel('data/factor_pricing_data_monthly.xlsx', sheet_name='portfolios (excess returns)', parse_dates=[0], index_col=0)
factors.head()

               MKT     SMB     HML     RMW     CMA     UMD
Date
1980-01-31  0.0550  0.0188  0.0185 -0.0184  0.0189  0.0745
1980-02-29 -0.0123 -0.0162  0.0059 -0.0095  0.0292  0.0789
1980-03-31 -0.1289 -0.0697 -0.0096  0.0182 -0.0105 -0.0958
1980-04-30  0.0396  0.0105  0.0103 -0.0218  0.0034 -0.0048
1980-05-31  0.0526  0.0200  0.0038  0.0043 -0.0063 -0.0118

In [3]:
portfolios.head()

,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
Date,,,,,,,,,,,,,,,,,,,,,
1980-01-31,-0.0073,0.0285,0.0084,0.1009,-0.0143,0.0995,0.0348,0.0323,0.0048,0.0059,...,0.0158,0.0851,0.0466,-0.0125,0.0430,-0.0284,0.0254,0.0770,0.0306,0.0666
1980-02-29,0.0125,-0.0609,-0.0967,-0.0323,-0.0575,-0.0316,-0.0492,-0.0803,-0.0556,-0.0169,...,-0.0083,-0.0543,-0.0345,-0.0641,-0.0653,-0.0824,-0.0960,-0.0352,-0.0283,-0.0273
1980-03-31,-0.2220,-0.1119,-0.0158,-0.1535,-0.0188,-0.1272,-0.0827,-0.1238,-0.0567,-0.0670,...,-0.0819,-0.1512,-0.1602,-0.0905,-0.1450,-0.0559,-0.0877,-0.2449,-0.1261,-0.1737
1980-04-30,0.0449,0.0767,0.0232,0.0289,0.0830,-0.0529,0.0785,0.0154,0.0305,0.0115,...,0.0422,-0.0102,0.0268,0.0355,0.0539,0.0736,0.0528,0.0964,0.0458,0.0784
1980-05-31,0.0635,0.0797,0.0458,0.0866,0.0822,0.0510,0.0325,0.0888,0.0560,0.0098,...,0.0564,0.1065,0.1142,0.0877,0.1104,0.0570,0.0560,0.0889,0.0846,0.0663

In [ ]:
# Eric
def univariate_stats(df, freq=12):
    means=df.mean()*freq
    vols=df.std()*(freq**0.5)
    sharpes=means/vols
    return pd.DataFrame({'Mean': means, 'Vol': vols, 'Sharpe': sharpes})

In [ ]:
# Eric
import statsmodels.api as sm
def simple_ols(y, X):
    model=sm.OLS(y, sm.add_constant(X)).fit()
    alpha=model.params[0]
    beta=model.params[1]
    info=model.params[0]/model.resid.std()
    treynor=y.mean()/beta
    rsquared=model.rsquared
    return pd.DataFrame([alpha, beta, info, treynor, rsquared], index=['Alpha', 'Beta', 'Info Ratio', 'Treynor Ratio', 'R-Squared'])

In [ ]:
# Eric
def multi_ols(y,X):
    model=sm.OLS(y, sm.add_constant(X)).fit()
    alpha=model.params[0]
    info=model.params[0]/model.resid.std()
    rsquared=model.rsquared
    return {'Alpha': alpha, 'Info Ratio': info, 'R-Squared': rsquared, 'Coeffs': model.params[1:]}

## 2.1

In [ ]:
# Eric
univariate_stats(factors, 12)

         Mean       Vol    Sharpe
MKT  0.087552  0.156142  0.560718
SMB  0.006120  0.101274  0.060435
HML  0.026039  0.108835  0.239249
RMW  0.044047  0.082931  0.531132
CMA  0.028288  0.072480  0.390284
UMD  0.060313  0.153352  0.393299

## 2.2

Yes, each factor has positive risk premium.

In [ ]:
# Eric
factors_recent=factors[factors.index.year>=2015]
univariate_stats(factors_recent, 12)

         Mean       Vol    Sharpe
MKT  0.117872  0.157356  0.749078
SMB -0.023775  0.103166 -0.230455
HML -0.016303  0.129885 -0.125520
RMW  0.040012  0.072632  0.550896
CMA -0.009141  0.082072 -0.111373
UMD  0.020119  0.137387  0.146438

In recent years, the market factor has performed better, but the other five factors all performed worse.

## 2.3

In [ ]:
# Eric
factors.corr()

          MKT       SMB       HML       RMW       CMA       UMD
MKT  1.000000  0.226997 -0.207918 -0.250639 -0.346542 -0.179352
SMB  0.226997  1.000000 -0.021819 -0.411946 -0.051099 -0.060940
HML -0.207918 -0.021819  1.000000  0.219401  0.676727 -0.215523
RMW -0.250639 -0.411946  0.219401  1.000000  0.138566  0.076694
CMA -0.346542 -0.051099  0.676727  0.138566  1.000000  0.000094
UMD -0.179352 -0.060940 -0.215523  0.076694  0.000094  1.000000

Yes, the correlations are very small for the most part, except between CMA and HML. 

HML has a relatively high correlation with CMA, so yes it is somewhat redundant, but it won't break the regression model if it's kept in.

## 2.4

In [ ]:
# Eric
mu=factors.mean()
sigma=factors.cov()
w=np.linalg.inv(sigma)@mu
w_tan=w/w.sum()
pd.DataFrame(w_tan, index=mu.index, columns=['Weight'])

       Weight
MKT  0.218650
SMB  0.066849
HML -0.021212
RMW  0.301829
CMA  0.321431
UMD  0.112453

Most important factors are CMA and RMW, and least important is HML. 

The factors with low mean returns are SMB, HML, and CMA, and CMA has a large weight in the tangency portfolio, so it's pretty useful.

In [ ]:
# Eric
mu=factors[['MKT', 'SMB', 'HML', 'UMD']].mean()
sigma=factors[['MKT', 'SMB', 'HML', 'UMD']].cov()
w=np.linalg.inv(sigma)@mu
w_tan=w/w.sum()
pd.DataFrame(w_tan, index=mu.index, columns=['Weight'])

       Weight
MKT  0.376514
SMB -0.051198
HML  0.365321
UMD  0.309363

This time MKT and HML have high weights, and SMB has low weight. 

Overall, HML and CMA have a bit of redundancy with each other. SMB does not seem to be an important factor according to the tangency weights, and it also has a low mean return. The other factors are all pretty important.